In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
test= pd.read_pickle('C:/Users/faith/OneDrive/Documents/FaithZhang/SURF/RealTimeDetection/daily_maxmin/new_data/test_set.pkl')

In [15]:
test.iloc[:20]

,time,hadm_id,arterial_bp_diastolic_min,arterial_bp_mean_min,arterial_bp_systolic_min,cvp_min,heart_rate_min,spo2_min,pap_diastolic_min,pap_mean_min,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,AKI_in_24
0,0.0,25559044.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,1.0,25559044.0,54.279070,74.996678,115.631229,NaN,98.182724,99.481728,18.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,2.0,25559044.0,46.781022,65.408759,100.664234,NaN,96.379562,99.481728,18.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,3.0,25559044.0,44.757664,60.512409,94.582482,NaN,96.379562,99.481728,18.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,4.0,25559044.0,44.757664,60.512409,94.532847,NaN,96.379562,98.262774,18.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,5.0,25559044.0,44.757664,60.512409,94.532847,NaN,96.379562,98.262774,18.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,6.0,25559044.0,44.757664,60.512409,94.532847,NaN,91.000000,98.262774,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,7.0,25559044.0,44.757664,60.512409,94.532847,NaN,89.948905,98.262774,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,8.0,25559044.0,44.757664,60.512409,94.532847,NaN,86.153285,98.262774,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,9.0,25559044.0,44.757664,60.512409,94.532847,NaN,86.153285,98.262774,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,10.0,25559044.0,44.051095,60.512409,94.532847,NaN,81.051095,98.262774,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,11.0,25559044.0,44.051095,60.512409,94.532847,NaN,75.525547,98.262774,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,12.0,25559044.0,44.051095,60.512409,94.532847,NaN,75.525547,97.000000,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,13.0,25559044.0,44.051095,60.512409,94.532847,NaN,75.525547,97.000000,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,14.0,25559044.0,44.051095,60.512409,94.532847,NaN,75.525547,97.000000,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,15.0,25559044.0,44.051095,60.512409,94.532847,21.0,75.000000,97.000000,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,16.0,25559044.0,44.051095,60.512409,94.532847,21.0,75.000000,97.000000,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,17.0,25559044.0,44.051095,60.512409,94.532847,21.0,75.000000,95.721671,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,18.0,25559044.0,44.051095,60.512409,94.532847,21.0,75.000000,95.721671,17.0,24.481728,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999
0,19.0,25559044.0,44.051095,60.512409,94.532847,21.0,75.000000,95.721671,17.0,24.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999